<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/admin" class="btn btn-success mb-3" style="width: 200px; margin-left: auto;">Go Back</a>
        </div>
        <table class="table table-striped mt-4 " id="productsTable">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th scope="row">{{this._id}}</th>
                    <td>{{this.Name}}</td>
                    <td>{{this.Email}}</td>
                    <td>
                        <a class="btn btn-outline-danger" onclick="return confirm('Are you want to delete {{this.Name}} Account')" href="/admin/delete-user/{{this._id}}">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>

    $(function () {
        $('#productsTable').DataTable();
    });

    // $(document).ready(function () {
    //    $('#productsTable').DataTable();
    //}); 
</script>
{{!--  --}}