<section>
    <div class="container">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>

                    <td><img style=" max-width: 70px;" src="/product-images/{{this.product._id}}.jpg" alt=""></td>
                    <td>{{this.product.Name}}</td>
                    <td>Rs.{{this.product.Price}}</td>

                    <td><button class="btn btn-secondary"
                            onclick='changeQuantity("{{this._id}}","{{this.product._id}}","{{../user._id}}",-1)'>-</button>

                        <span id="{{this.product._id}}"> {{this.quantity}} </span>

                        <button class="btn btn-secondary"
                            onclick='changeQuantity("{{this._id}}","{{this.product._id}}","{{../user._id}}",1)'>+</button>
                    </td>
                    {{!-- <td> <a href="/remove-cart-item" class="btn btn-danger">Remove</a></td> --}}
                    <td> <button class="btn btn-danger"
                            onclick="removeItem('{{this._id}}','{{this.product._id}}')">Remove</button> </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
        <div style="margin-left: 55rem;">
            <h5>Total: Rs. <span id="total">{{total}}</span></h5> <br>
            <a style="margin-bottom: 10px;" class="btn btn-success" href="/place-order">Place Order</a>

        </div>

    </div>
</section>

<script>
    // increase buton and decrese button 
    function changeQuantity(cartId, productId,userId, count) {
        let quantity = parseInt(document.getElementById(productId).innerHTML)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartId,
                product: productId,
                count: count,
                quantity: quantity,
                user:userId
            },
            method: 'post',
            success: (responce) => {
                if (responce.removeProduct) {
                    alert('Product removed from cart')
                    location.reload()
                } else {
                    document.getElementById(productId).innerHTML = quantity + count
                   // console.log(responce)
                    document.getElementById('total').innerHTML = responce.total
                    
                    
                }
            }
        })
    }

    //delete function
    function removeItem(cartId, itemId) {
        $.ajax({
            url: '/remove-cart-item',
            method: 'post',
            data: {
                cartId: cartId,
                itemId: itemId
            },
            success: (responce) => {
                if (responce.removeProduct) {
                    alert('Product removed from cart')
                    location.reload()
                }
            }
        })
    }


</script>